
        body {
            text-align: center;
            background-color: #FFF0F5;
        }

        table {
            margin: auto;
            border-style: solid;
            border-width: 1px;
            border-color: black;
        }

        td {
            width: 300px;
            border-style: solid;
            border-width: 1px;
            border-color: black;
            vertical-align: top;
        }

        .date {
            text-align: left;
            font-weight: bold;
            margin-top: 0px;
        }

        h1,
        h5 {
            color: #C71585;

        }

        h2 {
            color: #9932CC;

        }

        h4 {
            color: #6495ED;
            text-decoration: underline;
        }

        .shadow {
            text-shadow: 10px 10px 10px #6495ED,
                0 0 1em green,
                0 0 0.2em green;
        }

        h1 {
            margin-bottom: 40px;
        }